/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 838px;
  background-color: #fff;
  padding: 30px;
  margin-top: 20px;
}
.mb{
    margin-bottom: 20px;
}
/* Top players section styles  */
.section-title {
  color: #562eff;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
}
.top-player-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}
.player {
  display: flex;
  align-items: center;
  gap: 15px;
}
.player-img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}
hr {
  border: 1px solid #d1d1d1;
  margin: 30px 0;
}
/* Top blogs sections styles  */
.top-blogs-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}
.blogs {
  display: flex;
  gap: 16px;
}
.blog-img img {
  width: 177px;
  height: 117px;
}

.blog-content h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #000;
}
.blog-content p {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.blog-content p a {
  color: #562eff;
  text-decoration: none;
}
/* latest course sections styles  */

.lates-course-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.lates-course {
    padding: 15px;
    Width: 252.42px;
    Height: 269.79px;
    box-shadow:  -5px 10px 10px rgba(0, 0, 0, 0.05);
}
.lates-course img {
  width: 224px;
  height: 104px;
  margin-bottom: 18px;
}
.lates-course h4 {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 20.0336px;
  line-height: 23px;
  margin-bottom: 8px;
}
.lates-course p {
  color: #ed6b4f;
  font-weight: 400;
  font-size: 14.6913px;
  line-height: 17px;
  margin-bottom: 18px;
}
.icons-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons p {
    color: #A2A2A2;
}
.hours p {
  color: #ff4a60;
  font-weight: 600;
  font-size: 14.6913px;
  line-height: 20px;
  background: #ffe4e8;
  border-radius: 14.6913px;
  padding: 3px 6px;
}
 .filled {
  color: #ffc014 !important ;
}
 .solid {
  color: #aeaeae !important;
}
